


.detailsContainer{
    margin-top: 140px;
    padding: 100px;
    position: relative;
    justify-content: space-between;
    border-radius: 2px;
    border-color: #009ddd;
}

.titulo{
    text-decoration-line: underline;
}

.detailsProduct{
    background-color: #009ddd;
    margin: 2rem;
}