.carrito{
    margin: 90px;
    
}

.bubble-counter{
    color: aliceblue;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}