* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  display: flex;
  
  justify-content: center;
  background-color: #0f4571;
  color: white;


    position: absolute;
    margin: 0;
    width: 100%;
}

p{
  margin: 30px;
  align-items: center;
}

img{
  object-fit: scale-down;
}
